ErrorDocument 403 https://www.franssnoek.nl/error/forbidden.html
ErrorDocument 404 https://www.franssnoek.nl/error/page-not-found.html
ErrorDocument 500 https://www.franssnoek.nl/error/internal-server-error.html

RewriteEngine On
RewriteRule ^home/?$ index.php [NC,L]
RewriteRule ^get-feedback/?$ feedback.php [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^profile/?$ profile.php [NC,L]